services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: lab11-mosquitto
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"
      - "9001:9001"
